.line{
    width: 4rem;
    background-color: #A0E4CB;
    border: 2px solid#A0E4CB;
    margin: 0 auto;
}
.title-container h2{
    margin: 0 0 4px 0;
    color: #3C4048;
}

.wishlist-empty-container{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wishlist-empty img{
    width: 50%;
}
.wishlist-empty h4{
    font-size: 2.25rem;
}
.wishlist-empty p{
    font-size: .9rem;
}
.wishlist-empty button{
    border: 2px solid #59C1BD;
    color: #59C1BD;
    font-weight: 700;
    border-radius: .25rem;
    padding: .7rem 1rem;
}
.wishlist-empty button:hover{
    border: none;
    background-color: #59C1BD;
    color: #FFF;
}
.table{
    margin: 2rem 0;
}
.table tbody th, .table tbody td{
    vertical-align: middle;
}
.product-image img{
    width: 10rem;
}

.product-info p{
    color: #3C4048;
    margin: 0;
    
}
.product-info span{
    color: #3C4048;
    font-size: .75rem;
    font-weight: 700;
}
.bi-trash3{
    font-size: 1.5rem;
}
.icon-container{
    width: 24px;
}
.icon-container:hover .bi-trash3::before{
    cursor: pointer;
    content: "\F78A";
    color: #E64848;
}