<div class="container mt-5">
    <div class="title-container">
        <h2 class="text-center">Wish List</h2>
        <div class="line"></div>
    </div>

    <div class="list-container">
        <div class="wishlist-empty-container" *ngIf="products.length < 1">
            <div class="wishlist-empty text-center">
                <img draggable="false" src="../../../../assets/img/empty.png">
                <h4>Tu Wishlist está vacia</h4>
                <p>Dale clic a los corazones para empezar a agregar tus productos favoritos</p>
                <button [routerLink]="['/catalogue']" routerLinkActive="router-link-active" >Agregar ahora</button>
            </div>

            
        </div>
    </div>
</div>