<div class="body">
    <div class="aaaa"></div>
    <div class="container">
        <div class="row hero-container" >
            <div class="col hero-container my-auto" >
                <h3 class="hero-title">Crea tu lista de deseos de una manera rápida</h3>
                <p class="hero-description">Holaa, que esperas para crear tu lista de deseos y compartirla con todos tus amigos?</p>

                <button class="btn-start" [routerLink]="['/catalogue']" routerLinkActive="router-link-active" >Empieza ya <i class="bi bi-chevron-right"></i></button>

                <button class="btn-readmore">Leer más</button>
            </div>

            <div class="col ">
                <img src="../../../assets/img/home.png" style="width: 100%;">
            </div>
        </div>
    </div>
    <div class="wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,192L40,192C80,192,160,192,240,202.7C320,213,400,235,480,218.7C560,203,640,149,720,144C800,139,880,181,960,202.7C1040,224,1120,224,1200,218.7C1280,213,1360,203,1400,197.3L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
            </path>
        </svg>
    </div>
    
</div>


<!-- 
    CFF5E7
    A0E4CB
    59C1BD
    0D4C92
 -->