<div class="read-more-container">
    <h4>WishList</h4>
    <p class="mb-2">Aplicación web donde podrás agregar tus productos favoritos a una lista de deseos y compartirla con todos tus amigos.</p>
    <div class="project-stack mb-4">
        <h5>Tecnologías usadas</h5>
        <mat-chip-list aria-label="Stack project" >
            <mat-chip *ngFor="let name of technologies">
                {{ name }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <p class="fw-lighter">Proyecto realizado para el OpenCode organizado por OpenBootcamp, para más información unirse al <a href="https://discord.gg/5YZUeskA7H" class="text-decoration-none discord-invite" target="_blank"><i class="bi bi-discord"></i> Discord</a></p>
    
</div>